<h2>This is the room info detail. User is {{ userName }}</h2>

<div class="jumbotron">
  ID: {{ home.currentChatRoom.$id }}
  <br />
    Room name: {{ home.currentChatRoom.roomName }}
  <br/>
</div>

<div class="jumbotron">
   <p><input type="text" ng-model="message"></p>
    <button type="button" class="btn btn-default" ng-click="home.send(message); home.getByRoomId(home.currentChatRoom.$id)">Send a message</button>
</div>


<div class="jumbotron">
    <button type="button" class="btn btn-default" data-ng-click="home.getByRoomId(home.currentChatRoom.$id)">Get messages</button>
</div>

<!--
<div class="jumbotron" ng-hide="pt2">
  Room name: {{ home.currentChatRoom.roomName }}
  <div class="list-group">
    <a class="list-group-item" style="border:none" ng-repeat="message in home.messages" ng-if="message.$id === home.currentChatRoom.$id">
        {{ message.messages }}
    </a>
  </div>
</div>
-->

<div class="jumbotron" ng-hide="pt2">
  Room name: {{ home.currentChatRoom.roomame }}
  <div class="list-group" id="test1">
    <a class="list-group-item" style="border:none" ng-repeat="msg in myMessages">
        {{ msg }}
    </a>
  </div>
</div>
